mixin mixMain(topics)
	each topic, t in topics
		+mixTopic(topic, t)
	.panel.panel-info.final-score
		.panel-heading
			h1.panel-title Final Score
		.panel-body
			p.intro
				| Please rate all aspects of the film to get the final score.
			div.score(style="display:none")
				each score in [1,2,3,4,5,6,7,8,9,10]
					.col-xs-1.hidden-xs
						i.fa.fa-star.fa-3x(data-score=score)
				.col-md-2
					p.score-text
			p.irrelevant(style="display:none")
				| So it's all irrelevant, huh?

mixin mixTopic(topic, t)
	.topic(data-topic=t)
		.panel.panel-info
			.panel-heading
				h1.panel-title= topic.name
			ul.list-group
				each aspect, a in topic.aspects
						+mixAspect(aspect, a)

- var ratingValues = "?,Awful,Bad,Good,Awesome".split(",")

mixin mixAspect(aspect, a)
	li.aspect.list-group-item(data-aspect=a)
		.row
			.col-sm-3
				p= aspect.name
			.col-sm-9
				.btn-group.btn-group-sm
					each title, rating in ratingValues
						button.rating.btn.btn-default(type="button", data-rating=rating)= title
